<!DOCTYPE html>
<html lang="en">
    <%-include('../particals/header') %>
    <body>
        <!-- Navigation-->
        <%-include('../particals/navbar') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Đăng kí</h1>
                            <span class="subheading">Có vẻ bạn là người mới, đăng kí ngay ...!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form id="contactForm" method="POST" action="/register/sign-up/created">
                                <div class="control-group form-floating">
                                    <div  class="form-group floating-label-form-group controls">
                                        <label style="color:var(--bs-gray-900);" for="username">Tên đăng nhập: </label>
                                        <% if (data) { %>
                                            <input required style ="padding-top: 40px;" type="text" class="form-control" id="username" name="username" value="<%= data.username %>">
                                        <% } else { %>
                                            <input required style ="padding-top: 40px;" type="text" class="form-control" id="username" name="username" >
                                        <% } %>
                                    </div>
                                </div>
                                <div class="control-group form-floating mt-4">
                                    <div  class="form-group floating-label-form-group controls">
                                        <label style="color:var(--bs-gray-900);" for="password">Mật khẩu: </label>
                                        <% if (data) { %>
                                            <input required style ="padding-top: 40px;" type="password" class="form-control" id="password" name="password" value="<%= data.password %>">
                                        <% } else { %>
                                            <input required style ="padding-top: 40px;" type="password" class="form-control" id="password" name="password">
                                        <% } %>
                                    </div>
                                    <% if (data) { %>
                                        <div class="mt-2" style="color:var(--bs-danger)"><%= data.message %></div>
                                    <% } %>
                                </div>       
                                <br />
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Đăng kí</button>
                                <br>
                                <br>
                                <p><a href="/register/sign-in">Quay lại đăng nhập!</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%-include('../particals/footer') %>
        <!-- Bootstrap core JS-->
        <%-include('../particals/script') %>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
